.homepage{
  position: relative;
  width: 100vh;
  height: 100vh;
  background: #E6E6E6
}

.head {
	position: relative;
  width: 365px;
  height: 55px;
  left: 484px;
  top: 17px;

  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 69px;

  color: #FFFFFF;
}

.homebutton{
  position: absolute;
  width: 101px;
  height: 44px;
  left: 318px;
  top: 39px;

  font-family: Roboto;
  font-style: thin;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.about{
  position: absolute;
  width: 168px;
  height: 36px;
  left: 890px;
  top: 39px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.contact{
  position: absolute;
  width: 168px;
  height: 36px;
  left: 1058px;
  top: 39px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;

}

.name{
  /* Muhammad Dahlan Yasadipura */


  position: relative;
  width: 550px;
  height: 151px;
  left: 415px;
  top: 287px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;

  color: #FFFFFF;
}

.intro{
  position: absolute;
  width: 307px;
  height: 40px;
  left: 324px;
  top: 550px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.intro1{
  position: absolute;
  width: 427px;
  height: 44px;
  left: 655px;
  top: 550px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.page2{
  background-color: #292B2B
}
.t1{
  position: absolute;
  width: 119px;
  height: 49px;
  left: 623px;
  top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}
.t2{
  /* Let me introduce myself */
  position: absolute;
  width: 530px;
  height: 45px;
  left: 418px;
  top: 69px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #FFFFFF;
}

.lead{
  position: absolute;
  width: 698px;
  height: 186px;
  left: 382px;
  top: 139px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #FFFFFF;
}

.aboutPage img{
  position: absolute;
  width: 186px;
  height: 186px;
  left: 165px;
  top: 139px;

  background: url(assets/01Dahlan.png);
  border-radius: 118px;
}

.aboutPage h3{
  /* Profile */
  position: absolute;
  width: 119px;
  height: 49px;
  left: 623px;
  top: 359px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.profile{
  position: absolute;
  width: 566px;
  height: 190px;
  left: 382px;
  top: 442px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  color: #FFFFFF;
}

.homeabout{
  position: absolute;
  width: 101px;
  height: 44px;
  left: 131px;
  top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.contactabout{
  /* Contact */

  position: absolute;
  width: 168px;
  height: 36px;
  left: 1080px;
  top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.page3{
  background-color: #292B2B
}

.contactPage h5{
  /* CONTACT ME */
  position: absolute;
  width: 313px;
  height: 63px;
  left: 526px;
  top: 51px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  
  color: #FFFFFF;
}

#line{
  position: absolute;
  width: 123px;
  height: 123px;
  left: 320px;
  top: 281px;

}

#facebook{
/* 697057-facebook-512 */

  position: absolute;
  width: 171px;
  height: 171px;
  left: 492px;
  top: 257px;
}

#whatsapp{
  position: absolute;
  width: 122px;
  height: 123px;
  left: 712px;
  top: 281px;
}

#linkedin{
  position: absolute;
  width: 162px;
  height: 162px;
  left: 883px;
  top: 266px;
}

.homecontact{
  position: absolute;
  width: 101px;
  height: 44px;
  left: 131px;
  top: 51px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  
  color: #FFFFFF;
}

.aboutcontact{
  position: absolute;
  width: 168px;
  height: 36px;
  left: 1080px;
  top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}